*
{
    border: none;
    margin: none;
    padding: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(240, 231, 231);
}
.titulo
{
    text-align: absolute;
    text-align: center;
    background-color: blue;
    opacity: 1;
}
.borda
{
    position: relative;
    width: 510px;
    height: 510px;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%);
    background-color: rgb(255, 0, 0);
    opacity: 1;
}
.relógio
{
    position: absolute;
    width: 500px;
    height: 500px;
    top: 5px;
    left: 5px;
    transform: translate(0%);
    border-radius: 50%;
    background-color: rgb(152, 139, 139);
    opacity: 1;
}
.vertical
{
    position: absolute;
    width: 500px;
    height: 5px;
    top: 50%;
    background-color:  blue;
    opacity: 0.1;

}
.horizontal
{
    position: absolute;
    width: 5px;
    height: 500px;
    left: 50%;
    background-color:  blue;
    opacity: 0.1;
}
.temp
{
    position: absolute;
    width:500px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.2);
}
.tempo
{
    position: relative;
    display: inline;
    top: 46.6%;
    left: 41.1%;
    background-color: rgba(0, 0, 0, 0);
}